# Safety on Public Transportation in Chicago

## Script for Data Analysis

### Authors: Jainam Mehta, Julian Kleindiek, Lola Johnston, Peter Eusebio
### Date: 12/06/2019

## Step 1: Import all relevant libraries used in this project

In [3]:
# install these libraries if not previously installed
!pip install pandas
!pip install numpy
!pip install sodapy
!pip install sqlalchemy
!pip install pymysql
!pip install dbfread
!pip install simpledbf
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\peter\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\peter\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\peter\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in c:\users\peter\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in c:\users\peter\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: numpy in c:\users\peter\anaconda3\lib\site-packages (1.16.4)
Requirement already satisfied: sodapy in c:\users\peter\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: requests>=2.20.0 in c:\users\peter\anaconda3\lib\site-packages (from sodapy) (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\peter\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\peter\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\peter\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\peter\anaconda3\lib\site-packages (from requests>=2.20.0->sodapy) (1.24.2)
Requirement already satisfied: sqlalchemy in c:\users\peter\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: pymysql in c:\users\peter\anaconda3\lib\site-packages (0.9.3)
Requirement already satisfied: dbfread in c:\users\peter\anaconda3\lib\site-packages (2.0.7)
Requirement already satisfied: simpledbf in c:\users\peter\anaconda3\lib\site-packages (0.2.6)
Requirement already satisfied: matplotlib in c:\users\peter\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\peter\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\peter\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\peter\anaconda3\lib\site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\peter\anaconda3\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in c:\users\peter\anaconda3\lib\site-packages (from matplotlib) (1.16.4)
Requirement already satisfied: six in c:\users\peter\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in c:\users\peter\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)

In [6]:
# import libraries
from sodapy import Socrata # for API calls
import sqlalchemy as db # for SQL
import pymysql # for SQL
import pandas as pd # for data cleaning
import dbfread # for dbf transformation
from simpledbf import Dbf5 # for dbf transformation
import matplotlib.pyplot as plt #for plotting
import numpy as np #for grid generation math
import math #for grid generation math.  standard module, shouldn't need installation.

## Step 2: Connect to GCP

In [4]:
##get colab IP to provide it with GCP access
#!curl ipecho.net/plain

In [8]:
# create connection to CloudSQL
engine = db.create_engine('mysql+pymysql://root:patronus@146.148.80.202/mydb')
connection = engine.connect()
metadata = db.MetaData()

## WARNING: only run dataframe generating cells when necessary
## Credits will be charged

In [9]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling crime table from GCP

# define table
crime = db.Table('crime', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([crime])

# store query as data frame
crime = pd.read_sql(query, connection)

In [10]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling BusStops table from GCP

# define table
BusStops = db.Table('BusStops', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([BusStops])

# store query as data frame
BusStops = pd.read_sql(query, connection)

In [11]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling TrainStops table from GCP

# define table
TrainStops = db.Table('TrainStops', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([TrainStops])

# store query as data frame
TrainStops = pd.read_sql(query, connection)

In [12]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling grid table from GCP

# define table
grid = db.Table('grid', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([grid])

# store query as data frame
grid = pd.read_sql(query, connection)

In [13]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling hday table from GCP

# define table
hday = db.Table('hday', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([hday])

# store query as data frame
hday = pd.read_sql(query, connection)

In [14]:
## ONLY RUN WHEN NECESSARY
## ISOLATE CELL

# pulling weather table from GCP

# define table
weather = db.Table('weather', metadata, autoload=True, autoload_with=engine)

# query the table
query = db.select([weather])

# store query as data frame
weather = pd.read_sql(query, connection)

## Step 3: Data Analysis

In [22]:
#lola asks: how many rows do we have across all our tables?
BusStops['stopID'].count()+TrainStops['stopID'].count()+crime['caseNumber'].count()+grid['gridId'].count()+hday['Date'].count()+weather['Date'].count()

124676

In [23]:
crimebus = pd.merge(crime,BusStops,on = 'gridId',how = 'inner')

In [27]:
crimetrain = pd.merge(crime,TrainStops,on = 'gridId',how = 'inner')

In [29]:
crimetrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683642 entries, 0 to 683641
Data columns (total 41 columns):
caseNumber                683642 non-null object
datetime                  683642 non-null datetime64[ns]
block                     683642 non-null object
iucr                      683642 non-null object
primaryType               683642 non-null object
description               683642 non-null object
locationDescription       683642 non-null object
arrest                    683642 non-null int64
domestic                  683642 non-null int64
beat                      683642 non-null int64
district                  683642 non-null int64
ward                      635270 non-null float64
communityArea             635328 non-null float64
fbiCode                   683642 non-null object
xCoordinate               683642 non-null float64
yCoordinate               683642 non-null float64
year                      683642 non-null object
updatedOn                 683642 non-null datetime64[ns]
latitude_x                683642 non-null float64
longitude_x               683642 non-null float64
date                      683642 non-null datetime64[ns]
time                      683642 non-null object
gridId                    683642 non-null int64
stopID                    683642 non-null int64
directionID               683642 non-null object
stopName                  683642 non-null object
stationName               683642 non-null object
stationDescriptiveName    683642 non-null object
mapID                     683642 non-null object
ada                       683642 non-null object
red                       683642 non-null object
blue                      683642 non-null object
g                         683642 non-null object
brn                       683642 non-null object
p                         683642 non-null object
pExp                      683642 non-null object
y                         683642 non-null object
pnk                       683642 non-null object
o                         683642 non-null object
latitude_y                683642 non-null float64
longitude_y               683642 non-null float64
dtypes: datetime64[ns](3), float64(8), int64(6), object(24)
memory usage: 219.1+ MB

In [46]:
crimetrain[['ada','red','blue','g','brn','p','pExp','y','pnk','o']].head(20)

    ada  red  blue  g  brn  p  pExp  y  pnk  o
0     0    0     0  1    0  0     1  0    1  1
1     0    0     0  1    1  0     0  0    0  0
2     1    1     0  0    0  0     0  0    0  0
3     1    1     0  0    0  0     0  0    0  0
4     1    0     0  1    0  0     1  0    1  1
5     1    0     0  1    1  0     0  0    0  0
6     1    0     0  0    1  0     1  0    0  0
7     1    0     0  0    1  0     1  0    0  0
8     1    0     0  0    1  0     1  0    0  0
9     1    0     0  0    1  0     1  0    0  0
10    1    0     0  1    0  0     0  0    1  0
11    1    0     0  1    0  0     0  0    1  0
12    1    1     0  0    0  0     0  0    0  0
13    1    1     0  0    0  0     0  0    0  0
14    1    0     1  0    0  0     0  0    0  0
15    1    0     1  0    0  0     0  0    0  0
16    0    0     0  1    0  0     1  0    1  1
17    0    0     0  1    1  0     0  0    0  0
18    1    1     0  0    0  0     0  0    0  0
19    1    1     0  0    0  0     0  0    0  0

In [43]:
crimetrain[['ada','red','blue','g','brn','p','pExp','y','pnk','o']] = crimetrain[['ada','red','blue','g','brn','p','pExp','y','pnk','o']].astype('int32')

In [49]:
#ignore ada
crimetrain[['red','blue','g','brn','p','pExp','y','pnk','o']].sum(axis = 0)

red     199738
blue    148212
g       157608
brn     145388
p         8912
pExp    150520
y         4456
pnk     108502
o        91762
dtype: int64

In [50]:
#calculate the number of crimes per stop
crimebus['stopID'].value_counts()

2721.37      10166
9996.2       10166
5189.135     10166
10122.N66    10166
10726.156    10166
8898.156     10166
3654.151     10166
3468.22      10166
2422.125     10166
3984.148     10166
4952.147     10166
3944.148     10166
3654.3       10166
4913.156     10166
6674.3       10166
312.156      10166
3944.26      10166
3983.151     10166
9185.135     10166
1402.10      10166
8957.143     10166
3944.3       10166
8957.148     10166
9996.151     10166
3944.143     10166
6268.20      10166
9996.3       10166
3788.36      10166
6470.29      10166
3983.10      10166
             ...
5686.100         1
5218.90          1
9334.53A         1
7997.53A         1
8662.85A         1
2197.85A         1
10474.30         1
10060.85A        1
8545.30          1
6326.90          1
6929.85A         1
4993.85A         1
10354.85A        1
8978.85A         1
5197.85A         1
10323.100        1
8332.53A         1
10270.53A        1
3048.100         1
8394.30          1
6948.30          1
5138.81W         1
3021.81W         1
1422.30          1
4106.81W         1
10669.81W        1
1882.53A         1
4114.81W         1
8937.85A         1
133.81W          1
Name: stopID, Length: 13653, dtype: int64

In [54]:
#calculate the number of crimes per gridId
crime['gridId'].value_counts()

467    10166
442     9398
167     3358
417     3212
462     2945
217     2900
267     2720
591     2669
438     2551
690     2228
367     1866
541     1863
461     1735
492     1534
292     1423
437     1417
392     1403
566     1276
516     1160
312     1142
268     1053
286      984
439      951
490      946
265      932
317      918
460      893
616      872
192      855
242      844
       ...
532        4
658        4
605        4
632        3
636        3
688        3
44         3
493        3
682        2
607        2
236        2
604        2
140        2
186        2
137        2
657        2
631        2
123        2
653        1
148        1
469        1
162        1
660        1
581        1
659        1
583        1
72         1
592        1
652        1
121        1
Name: gridId, Length: 268, dtype: int64

In [26]:
#aggregate crimes per stop to routes
crimebus['routesStpg'].value_counts()

151     503362
29      500220
36      449961
3       410988
146     402174
22      388646
24      384682
156     346808
37      346760
148     343002
147     327759
7       321252
157     312473
126     303065
10      295462
62      294213
4       284593
125     277144
1       261164
26      259388
2       257437
20      252330
143     248996
66      242907
136     239133
60      226345
130     210668
135     203314
28      192826
J14     187415
         ...
84        9198
205       8912
93        8299
52A       7943
169       7740
54B       7627
55N       7540
86        7404
55A       7327
54A       7298
11        5697
85A       5331
90        4537
111A      4444
49B       3930
68        3927
172       3096
nan       2661
171       2127
755       2002
165       1740
63W       1716
X98        746
353        739
307        343
9E         232
N60        110
318         78
302         44
382         43
Name: routesStpg, Length: 145, dtype: int64

In [ ]:
#current primary key stopID
#public name of stop
#lat and long
#count of crimes in corresponding grid

In [125]:
BusStops[['stopID','routesStpg','publicNam','latitude','longitude','gridId']]

,stopID,routesStpg,publicNam,latitude,longitude,gridId
0,1.87,87,87th Street & Drexel,41.7366,-87.6025,194
1,10.71,71,Yates & Exchange,41.7657,-87.5664,246
2,100.75,75,74th Street & Parnell,41.7599,-87.6384,242
3,1000.103,103,103rd Street & Lawndale,41.7061,-87.7135,138
4,10000.70,70,Division & Clark,41.9040,-87.6317,492
5,10001.8,8,Halsted & 26th Street,41.8452,-87.6464,391
6,10002.57,57,Laramie & Bloomingdale,41.9131,-87.7557,486
7,10003.50,50,Damen & Madison,41.8812,-87.6766,440
8,10004.50,50,Damen & Schiller,41.9071,-87.6773,490
9,10005.8,8,Halsted & 34th Street,41.8325,-87.6460,366
10,10006.8,8,Halsted & Monroe,41.8804,-87.6472,441
11,10007.9,9,Ashland & Taylor,41.8695,-87.6663,415
12,10007.X9,X9,Ashland & Taylor,41.8695,-87.6663,415
13,10008.52,52,Kedzie & 31st Street,41.8371,-87.7047,363
14,10009.9,9,Beverly & 99th Street,41.7139,-87.6595,166
15,1001.55,55,4600 W 55th Street,41.7932,-87.7378,286
16,10010.54,54,Cicero & North Ave,41.9095,-87.7460,486
17,10011.54,54,Cicero & Fullerton,41.9244,-87.7461,511
18,10012.86,86,Narragansett & Dickens,41.9182,-87.7852,509
19,10013.49,49,Western & Hubbard,41.8895,-87.6866,464
20,10014.81W,81W,Milwaukee & Ainslie,41.9684,-87.7610,585
21,10014.91,91,Milwaukee & Ainslie,41.9684,-87.7610,585
22,10015.91,91,Austin & Bloomingdale,41.9128,-87.7753,484
23,10016.53A,53A,Pulaski & 92nd Street,41.7261,-87.7214,187
24,10017.93,93,Oak & Church,42.0484,-87.6866,739
25,10018.136,136,Marine Drive & Argyle,41.9735,-87.6511,616
26,10018.146,146,Marine Drive & Argyle,41.9735,-87.6511,616
27,10018.148,148,Marine Drive & Argyle,41.9735,-87.6511,616
28,10019.15,15,Lake Park & 56th Street,41.7935,-87.5880,294
29,10019.28,28,Lake Park & 56th Street,41.7935,-87.5880,294
...,...,...,...,...,...,...
14002,9982.71,71,71st Street & Stony Island,41.7659,-87.5855,245
14003,9983.70,70,Division & Francisco,41.9028,-87.6995,488
14004,9984.35,35,35th Street & Maplewood,41.8301,-87.6888,364
14005,9985.79,79,79th Street & Kilbourn,41.7492,-87.7343,212
14006,9986.18,18,18th Street & Throop,41.8579,-87.6590,416
14007,9987.26,26,103rd Street & Bensley,41.7081,-87.5634,146
14008,9987.J14,J14,103rd Street & Bensley,41.7081,-87.5634,146
14009,9988.70,70,Division & Hooker,41.9035,-87.6511,491
14010,9989.112,112,Mt. Olivet Cemetery,41.6916,-87.6931,114
14011,999.22,22,Clark & Bryn Mawr,41.9837,-87.6687,615
14012,9990.87,87,87th Street & Wolcott,41.7358,-87.6702,190
14013,9991.70,70,Division & Hoyne,41.9033,-87.6795,490
14014,9992.79,79,79th Street & Cornell,41.7516,-87.5847,220
14015,9993.36,36,Broadway & Irving Park,41.9544,-87.6504,566
14016,9994.156,156,LaSalle & Erie,41.8939,-87.6325,467
14017,9995.49,49,Western & Madison,41.8811,-87.6863,439
14018,9995.X49,X49,Western & Madison,41.8811,-87.6863,439
14019,9996.10,10,Michigan & Grand,41.8918,-87.6240,467
14020,9996.143,143,Michigan & Grand,41.8918,-87.6240,467
14021,9996.146,146,Michigan & Grand,41.8918,-87.6240,467
14022,9996.147,147,Michigan & Grand,41.8918,-87.6240,467
14023,9996.148,148,Michigan & Grand,41.8918,-87.6240,467
14024,9996.151,151,Michigan & Grand,41.8918,-87.6240,467
14025,9996.157,157,Michigan & Grand,41.8918,-87.6240,467
14026,9996.2,2,Michigan & Grand,41.8918,-87.6240,467
14027,9996.26,26,Michigan & Grand,41.8918,-87.6240,467
14028,9996.3,3,Michigan & Grand,41.8918,-87.6240,467
14029,9997.9,9,Ashland & 65th Street,41.7758,-87.6640,265
14030,9998.74,74,Fullerton & Riverfront Mall (1800 W),41.9252,-87.6727,515
14031,9999.65,65,Grand & Kedzie,41.8982,-87.7062,463

In [136]:
#getting count of crimes for a stop based on the corresponding gridId
bus = pd.DataFrame(crimebus['stopID'].value_counts())
bus = bus.reset_index(level = 0, inplace = False)
bus = bus.rename(columns = {'stopID':'crimecount','index':'stopID'})
smallBusStops = BusStops[['stopID','routesStpg','publicNam','latitude','longitude','gridId']]
smallBusStops = smallBusStops.rename(columns = {'publicNam':'name1','routesStpg':'name2'})
bus = pd.merge(bus,smallBusStops,on = 'stopID',how = 'inner')
bus['category'] = 'bus'
bus.head()

,stopID,crimecount,name2,name1,latitude,longitude,gridId,category
0,2721.37,10166,37,Wells & Grand,41.8917,-87.6342,467,bus
1,9996.2,10166,2,Michigan & Grand,41.8918,-87.6240,467,bus
2,5189.135,10166,135,LaSalle & Wacker/Lake,41.8864,-87.6326,467,bus
3,10122.N66,10166,N66,Michigan & Hubbard (Wrigley Bldg.),41.8899,-87.6242,467,bus
4,10726.156,10166,156,320 N LaSalle,41.8885,-87.6326,467,bus

In [132]:
#getting count of crimes for a stop based on the corresponding gridId
train = pd.DataFrame(crimetrain['stopID'].value_counts())
train = train.reset_index(level = 0, inplace = False)
train = train.rename(columns = {'stopID':'crimecount','index':'stopID'})
smallTrainStops = TrainStops[['stopID','stopName','stationDescriptiveName','latitude','longitude','gridId']]
smallTrainStops = smallTrainStops.rename(columns = {'stationDescriptiveName':'name1','stopName':'name2'})
train = pd.merge(train,smallTrainStops,on = 'stopID',how = 'inner')
train['category'] = 'train'
train.head()

,stopID,crimecount,name2,name1,latitude,longitude,gridId,category
0,30222,10166,Clinton (Harlem-54th/Cermak-bound),Clinton (Green & Pink Lines),41.8857,-87.6418,467,train
1,30064,10166,Grand/State (Howard-bound),Grand (Red Line),41.8917,-87.6280,467,train
2,30137,10166,Chicago (Kimball-Linden-bound),Chicago (Brown & Purple Lines),41.8968,-87.6359,467,train
3,30138,10166,Chicago (Loop-bound),Chicago (Brown & Purple Lines),41.8968,-87.6359,467,train
4,30050,10166,State/Lake (Inner Loop),"State/Lake (Brown, Green, Orange, Pink & Purpl...",41.8857,-87.6278,467,train

In [140]:
#combining bus and train
heat = bus.append(train)

In [142]:
#use whatever filepath you want
#heat.to_csv(r'C:\Users\peter\Desktop\Autumn\Data Engineering Platforms for Analytics\final project\heat.csv')