In [96]:
# import requests library
from sodapy import Socrata
import pandas as pd

In [ ]:
# We would run this query once to download all data until '2019-11-15T00:00:00.000'

In [108]:
# Pull all crime data before '2019-11-15T00:00:00.000'
client = Socrata("data.cityofchicago.org",
                  "QtMhXqaTTglPlVS3AC6PEQQxD", username = "juli.kleindiek@gmail.com", password = "DEPA_2019")

# Limit to 5 rows for test purposes
results = client.get("5xiy-qnsz", where = "date <= '2019-11-15T00:00:00.000'", limit = 5)

In [109]:
crime_dirty = pd.DataFrame.from_records(results)

In [110]:
crime = crime_dirty[['id', 
        'case_number', 
        'date', 
        'block', 
        'iucr', 
        'primary_type', 
        'description', 
        'location_description',
        'arrest',
        'domestic',
        'beat',
        'district',
        'ward',
        'community_area',
        'fbi_code',
        'x_coordinate',
        'y_coordinate',
        'year',
        'updated_on',
        'latitude',
        'longitude']]

In [111]:
crime.tail()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,7870071,HT100317,2011-01-01T00:15:00.000,008XX E 79TH ST,0460,BATTERY,SIMPLE,CTA BUS,True,False,...,006,6,69,08B,1183016,1852803,2011,2016-02-04T06:33:39.000,41.751291477,-87.604904392
1,7869621,HT100175,2011-01-01T01:30:00.000,001XX N STATE ST,0560,ASSAULT,SIMPLE,CTA PLATFORM,False,False,...,001,42,32,08A,1176353,1900882,2011,2016-02-04T06:33:39.000,41.883376682,-87.627874384
2,7869647,HT100156,2011-01-01T01:45:00.000,011XX W 69TH ST,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,007,17,68,08B,1170090,1859051,2011,2016-02-04T06:33:39.000,41.768727336,-87.652090375
3,7869682,HT100176,2011-01-01T02:00:00.000,0000X S STATE ST,0810,THEFT,OVER $500,CTA TRAIN,False,False,...,001,42,32,06,1176390,1900219,2011,2016-02-04T06:33:39.000,41.881556538,-87.627758535
4,7870254,HT101146,2011-01-01T02:00:00.000,009XX W FULLERTON AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,...,018,43,7,06,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296

In [ ]:
## We would run the subsequent queries on a daily basis

In [112]:
# pull most recent date from table

latest_date = crime.date.max()
latest_date

'2011-01-01T02:00:00.000'

In [113]:
# prepare API statement: filter for dates that are more recent than the max date in the table

updated_statement = "date" + " " + ">" + " " + "'" + latest_date + "'"
updated_statement

"date > '2011-01-01T02:00:00.000'"

In [114]:
# Pull all crime data before '2019-11-15T00:00:00.000'
client = Socrata("data.cityofchicago.org",
                  "QtMhXqaTTglPlVS3AC6PEQQxD", username = "juli.kleindiek@gmail.com", password = "DEPA_2019")

# Limit to 5 rows for test purposes
results = client.get("5xiy-qnsz", where = updated_statement, limit = 5)

In [117]:
# Prepare new data (only example)
crime_new_dirty = pd.DataFrame.from_records(results)
crime_new = crime_new_dirty[['id', 
        'case_number', 
        'date', 
        'block', 
        'iucr', 
        'primary_type', 
        'description', 
        'location_description',
        'arrest',
        'domestic',
        'beat',
        'district',
        'ward',
        'community_area',
        'fbi_code',
        'x_coordinate',
        'y_coordinate',
        'year',
        'updated_on',
        'latitude',
        'longitude']]
crime_new.tail()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,7869713,HT100235,2011-01-01T02:30:00.000,009XX W FULLERTON AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,CTA TRAIN,False,False,...,018,43,7,17,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296
1,7870065,HT100800,2011-01-01T02:40:00.000,0000X W 79TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA BUS STOP,False,True,...,006,6,44,08B,1177483,1852629,2011,2016-02-04T06:33:39.000,41.750940757,-87.625185222
2,7869656,HT100245,2011-01-01T02:50:00.000,015XX W CHICAGO AVE,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,012,1,24,08B,1165806,1905429,2011,2016-02-04T06:33:39.000,41.896085375,-87.666473716
3,7869657,HT100301,2011-01-01T03:30:00.000,008XX W NORTH AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,...,018,43,8,06,1170480,1910867,2011,2016-02-04T06:33:39.000,41.910906593,-87.649147871
4,7869735,HT100292,2011-01-01T03:30:00.000,002XX S STATE ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,CTA TRAIN,False,False,...,001,42,32,03,1176411,1899396,2011,2016-02-04T06:33:39.000,41.879297705,-87.627706271

In [118]:
# Append new data to master crime data file
crime.append(crime_new)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,district,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude
0,7870071,HT100317,2011-01-01T00:15:00.000,008XX E 79TH ST,0460,BATTERY,SIMPLE,CTA BUS,True,False,...,006,6,69,08B,1183016,1852803,2011,2016-02-04T06:33:39.000,41.751291477,-87.604904392
1,7869621,HT100175,2011-01-01T01:30:00.000,001XX N STATE ST,0560,ASSAULT,SIMPLE,CTA PLATFORM,False,False,...,001,42,32,08A,1176353,1900882,2011,2016-02-04T06:33:39.000,41.883376682,-87.627874384
2,7869647,HT100156,2011-01-01T01:45:00.000,011XX W 69TH ST,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,007,17,68,08B,1170090,1859051,2011,2016-02-04T06:33:39.000,41.768727336,-87.652090375
3,7869682,HT100176,2011-01-01T02:00:00.000,0000X S STATE ST,0810,THEFT,OVER $500,CTA TRAIN,False,False,...,001,42,32,06,1176390,1900219,2011,2016-02-04T06:33:39.000,41.881556538,-87.627758535
4,7870254,HT101146,2011-01-01T02:00:00.000,009XX W FULLERTON AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,...,018,43,7,06,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296
0,7869713,HT100235,2011-01-01T02:30:00.000,009XX W FULLERTON AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,CTA TRAIN,False,False,...,018,43,7,17,1169577,1916141,2011,2016-02-04T06:33:39.000,41.925398449,-87.652311296
1,7870065,HT100800,2011-01-01T02:40:00.000,0000X W 79TH ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,CTA BUS STOP,False,True,...,006,6,44,08B,1177483,1852629,2011,2016-02-04T06:33:39.000,41.750940757,-87.625185222
2,7869656,HT100245,2011-01-01T02:50:00.000,015XX W CHICAGO AVE,0460,BATTERY,SIMPLE,CTA BUS,False,False,...,012,1,24,08B,1165806,1905429,2011,2016-02-04T06:33:39.000,41.896085375,-87.666473716
3,7869657,HT100301,2011-01-01T03:30:00.000,008XX W NORTH AVE,0870,THEFT,POCKET-PICKING,CTA TRAIN,False,False,...,018,43,8,06,1170480,1910867,2011,2016-02-04T06:33:39.000,41.910906593,-87.649147871
4,7869735,HT100292,2011-01-01T03:30:00.000,002XX S STATE ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,CTA TRAIN,False,False,...,001,42,32,03,1176411,1899396,2011,2016-02-04T06:33:39.000,41.879297705,-87.627706271