# weather_clean

In [1]:
import pandas as pd
import numpy as np

In [2]:
w12 = pd.read_csv('weather_01_02.csv')
w34 = pd.read_csv('weather_03_04.csv')
w56 = pd.read_csv('weather_05_06.csv')
w78 = pd.read_csv('weather_07_08.csv')
w910 = pd.read_csv('weather_09_10.csv')
w1112 = pd.read_csv('weather_11_12.csv')
w1314 = pd.read_csv('weather_13_14.csv')
w1516 = pd.read_csv('weather_15_16.csv')
w1718 = pd.read_csv('weather_17_18.csv')
w19 = pd.read_csv('weather_19.csv')

In [3]:
weather = pd.concat([w12, w34, w56, w78, w910, w1112, w1314, w1516, w1718, w19], sort = True)

In [4]:
'''
things to note:

- there are 10 - 13 reads per day from different stations
- quite a few nulls
- 3 temperature reads: Min, Max, Time of Observation

'''

weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513589 entries, 0 to 34068
Data columns (total 11 columns):
DATE         513589 non-null object
ELEVATION    513589 non-null float64
LATITUDE     513589 non-null float64
LONGITUDE    513589 non-null float64
PRCP         498453 non-null float64
STATION      513589 non-null object
TAVG         6775 non-null float64
TMAX         64130 non-null float64
TMIN         64136 non-null float64
TOBS         44763 non-null float64
TSUN         3130 non-null float64
dtypes: float64(9), object(2)
memory usage: 47.0+ MB

In [5]:
# format date for consistency

weather['DATE']=pd.to_datetime(weather['DATE']).dt.strftime('%m/%d/%Y')

In [6]:
# format columns for consistency

weather.columns = weather.columns.str.capitalize()

In [7]:
weather.head()

,Date,Elevation,Latitude,Longitude,Prcp,Station,Tavg,Tmax,Tmin,Tobs,Tsun
0,01/01/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,26.0,13.0,13.0,NaN
1,01/02/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,21.0,7.0,7.0,NaN
2,01/03/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,28.0,7.0,28.0,NaN
3,01/04/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,32.0,23.0,32.0,NaN
4,01/05/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,37.0,24.0,24.0,NaN

In [15]:
# to find weather station with most reads: USW00094846 = Chicago O'Hare Station

weather.Station.value_counts()

USW00094846    6884
USC00111577    6884
USC00115110    6782
USC00111497    6727
USC00116616    6671
               ...
US1INPT0059     107
US1ILWL0070     106
US1ILDP0144     105
US1ILWL0115     104
US1ILWL0112     103
Name: Station, Length: 318, dtype: int64

In [21]:
# create new df with 1 station 

weather2 = weather[weather.Station == 'USW00094846']

In [22]:
weather2.head()

,Date,Elevation,Latitude,Longitude,Prcp,Station,Tavg,Tmax,Tmin,Tobs,Tsun
9122,01/01/2001,201.8,41.96019,-87.93162,0.0,USW00094846,15.0,24.0,5.0,NaN,NaN
9123,01/02/2001,201.8,41.96019,-87.93162,0.0,USW00094846,12.0,19.0,5.0,NaN,NaN
9124,01/03/2001,201.8,41.96019,-87.93162,0.0,USW00094846,18.0,28.0,7.0,NaN,NaN
9125,01/04/2001,201.8,41.96019,-87.93162,0.0,USW00094846,25.0,30.0,19.0,NaN,NaN
9126,01/05/2001,201.8,41.96019,-87.93162,0.0,USW00094846,29.0,36.0,21.0,NaN,NaN

In [25]:
weather2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6884 entries, 9122 to 34068
Data columns (total 11 columns):
Date         6884 non-null object
Elevation    6884 non-null float64
Latitude     6884 non-null float64
Longitude    6884 non-null float64
Prcp         6884 non-null float64
Station      6884 non-null object
Tavg         3867 non-null float64
Tmax         6884 non-null float64
Tmin         6884 non-null float64
Tobs         0 non-null float64
Tsun         1085 non-null float64
dtypes: float64(9), object(2)
memory usage: 645.4+ KB

In [27]:
# check for single date value

weather2.Date.value_counts()

01/19/2019    1
01/01/2018    1
12/17/2015    1
03/23/1996    1
09/07/2008    1
             ..
05/14/1996    1
09/10/2019    1
04/30/2001    1
02/26/2015    1
06/08/2009    1
Name: Date, Length: 6884, dtype: int64

In [ ]:
# yay!