# weather_clean

In [28]:
import pandas as pd
import numpy as np

In [10]:
w12 = pd.read_csv('weather_01_02.csv')
w34 = pd.read_csv('weather_03_04.csv')
w56 = pd.read_csv('weather_05_06.csv')
w78 = pd.read_csv('weather_07_08.csv')
w910 = pd.read_csv('weather_09_10.csv')
w1112 = pd.read_csv('weather_11_12.csv')
w1314 = pd.read_csv('weather_13_14.csv')
w1516 = pd.read_csv('weather_15_16.csv')
w1718 = pd.read_csv('weather_17_18.csv')
w19 = pd.read_csv('weather_19.csv')

In [15]:
weather = pd.concat([w12, w34, w56, w78, w910, w1112, w1314, w1516, w1718, w19], sort = True)

In [24]:
'''
things to note:

- there are 10 - 13 reads per day from different stations
- quite a few nulls
- 3 temperature reads: Min, Max, Time of Observation

'''

weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513589 entries, 0 to 34068
Data columns (total 11 columns):
Date         513589 non-null object
Elevation    513589 non-null float64
Latitude     513589 non-null float64
Longitude    513589 non-null float64
Prcp         498453 non-null float64
Station      513589 non-null object
Tavg         6775 non-null float64
Tmax         64130 non-null float64
Tmin         64136 non-null float64
Tobs         44763 non-null float64
Tsun         3130 non-null float64
dtypes: float64(9), object(2)
memory usage: 47.0+ MB

In [21]:
weather.columns

Index(['DATE', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'PRCP', 'STATION', 'TAVG',
       'TMAX', 'TMIN', 'TOBS', 'TSUN'],
      dtype='object')

In [32]:
# format date for consistency

weather['Date']=pd.to_datetime(weather['Date']).dt.strftime('%m/%d/%Y')

In [33]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513589 entries, 0 to 34068
Data columns (total 11 columns):
Date         513589 non-null object
Elevation    513589 non-null float64
Latitude     513589 non-null float64
Longitude    513589 non-null float64
Prcp         498453 non-null float64
Station      513589 non-null object
Tavg         6775 non-null float64
Tmax         64130 non-null float64
Tmin         64136 non-null float64
Tobs         44763 non-null float64
Tsun         3130 non-null float64
dtypes: float64(9), object(2)
memory usage: 47.0+ MB

In [22]:
# format columns for consistency

weather.columns = weather.columns.str.capitalize()

In [23]:
weather.columns

Index(['Date', 'Elevation', 'Latitude', 'Longitude', 'Prcp', 'Station', 'Tavg',
       'Tmax', 'Tmin', 'Tobs', 'Tsun'],
      dtype='object')

In [34]:
weather.head()

,Date,Elevation,Latitude,Longitude,Prcp,Station,Tavg,Tmax,Tmin,Tobs,Tsun
0,01/01/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,26.0,13.0,13.0,NaN
1,01/02/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,21.0,7.0,7.0,NaN
2,01/03/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,28.0,7.0,28.0,NaN
3,01/04/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,32.0,23.0,32.0,NaN
4,01/05/2001,189.0,41.7372,-87.7775,0.0,USC00111577,NaN,37.0,24.0,24.0,NaN