# us_holidays_clean

In [117]:
import pandas as pd
import numpy as np

In [118]:
hday = pd.read_csv('usholidays.csv')

In [119]:
hday.head()

   Unnamed: 0        Date                              Holiday
0           0  2010-12-31                       New Year's Day
1           1  2011-01-17  Birthday of Martin Luther King, Jr.
2           2  2011-02-21                Washington's Birthday
3           3  2011-05-30                         Memorial Day
4           4  2011-07-04                     Independence Day

In [121]:
# Dropping extra column
hday.drop('Unnamed: 0', axis = 1, inplace=True)

In [123]:
hday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 2 columns):
Date       485 non-null object
Holiday    485 non-null object
dtypes: object(2)
memory usage: 7.7+ KB

In [124]:
# selecting time frame

start_date = '2001-01-01'
end_date = '2019-12-31'

In [125]:
mask = (hday['Date'] > start_date) & (hday['Date'] <= end_date)
hday = hday.loc[mask]

In [139]:
hday = hday.sort_values(['Date'], ascending = True)

In [140]:
# reseting index

hday.reset_index(drop=True,inplace=True)

In [143]:
# formatting Date for consistency

hday['Date'] = pd.to_datetime(hday.Date).dt.strftime('%m/%d/%Y')

In [144]:
hday.head()

         Date                      Holiday
0  01/15/2001  Martin Luther King, Jr. Day
1  02/19/2001        Washington’s Birthday
2  05/28/2001                 Memorial Day
3  07/04/2001             Independence Day
4  09/03/2001                    Labor Day

In [ ]:
# Yay!