# usholidays --- clean?

In [30]:
import pandas as pd

In [31]:
hday = pd.read_csv('usholidays.csv')

In [32]:
hday.head()

   Unnamed: 0        Date                              Holiday
0           0  2010-12-31                       New Year's Day
1           1  2011-01-17  Birthday of Martin Luther King, Jr.
2           2  2011-02-21                Washington's Birthday
3           3  2011-05-30                         Memorial Day
4           4  2011-07-04                     Independence Day

In [33]:
hday.shape

(485, 3)

Dropping the extra column

In [34]:
hday.drop('Unnamed: 0', axis = 1, inplace=True)

In [35]:
hday.head()

         Date                              Holiday
0  2010-12-31                       New Year's Day
1  2011-01-17  Birthday of Martin Luther King, Jr.
2  2011-02-21                Washington's Birthday
3  2011-05-30                         Memorial Day
4  2011-07-04                     Independence Day